#tinymce{ background-color :#D6FFCC; height:auto!important;overflow-y: auto !important; padding-bottom: 0px!important;}
p {margin: 0; padding: 0;}
body, td, pre {color:#000; font-family:Times New Roman, Arial, Helvetica, sans-serif;  margin:0px;}